body {
  background: #fbf2d5;
}

h1,
p {
  text-align: center;
}

.links {
  text-align: center;
  margin-top: 20px;
}

.links a {
  margin: 0 10px;
  color: #24527a;
}

a {
  color: #e8630a;
}

.croissant-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
